Django==4.0.9
numpy==1.22.4
pandas==1.4.2
openpyxl==3.0.10
scikit-learn==1.1.1
crispy-bootstrap5==0.6
matplotlib==3.5.2
lightgbm==3.3.2
pyyaml==6.0
shap==0.41.0
catboost==1.0.4
xgboost==1.6.1
fancyimpute==0.7.0
imblearn==0.0
statsmodels==0.13.2
lxml==4.9.0
rpy2==3.5.2
celery==5.2.7
celery-progress==0.1.2