{% extends "base.html" %}

{% block head %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/uploader.css' %}" />
<script src="{% static 'celery_progress/celery_progress.js' %}"></script>

{% endblock head %}

{% block pagetitle %}Upload{% endblock pagetitle %}

<!-- ------------------------------------------------------------------------- -->
<!-- ------------------------------------------------------------------------- -->
<!-- ------------------------------------------------------------------------- -->


{% block main %}

<div class="row col-lg-10 col-md mx-auto">
  <p class="lead text-muted">
    description description description description description description description.1
    <br />
    description description description description description description description.1
  </p>
</div>

{% if not display_table %}

<div class="row">
  <form method="POST" action="/" enctype="multipart/form-data" id="upload_form">
    {% csrf_token %}

    <div class="form-group files">
      <input type="file" class="form-control" id="file_upload" name="file_data" required />
    </div>
    <div class="py-3"></div>

    <div class="btn-group d-flex fixed-bottom"" role=" group">
      <a class="btn btn-light" href="/"> Restart</a>
      <button class="btn btn-light" type="submit" name="show">Show</button>
    </div>

  </form>
</div>

{% endif %}

{% if display_table %}

<h2 class="text-center">{{ file_name }}</h2><br>
<div class="text-center container" style="width: 100%; height: 550px;overflow: auto;">
  <table class="table table-striped table-fixed">
    <thead>
      <tr>
        {% for i in file_cols %}
        <th> {{i}} </th>
        {% endfor %}
      </tr>
    </thead>
    <tbody>
      {% for i in file_data %}
      <tr>
        {% for j in i %}
        <td>{{j}}</td>
        {% endfor %}
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

<div class='row mb-5'></div>

<div class="btn-group d-flex fixed-bottom" role="group">
  <a class="btn btn-light" href="/"> Restart</a>
  <a class="btn btn-light" href="{{ data_name }}/config">Continue</a>
  <!-- <button class="btn btn-light" type="submit" name="continue">Continue</button> -->
</div>

{% endif %}


<!-- <div class='progress-wrapper'>
  <div id='progress-bar' class='progress-bar' style="background-color: #68a9ef; width: 0%;">&nbsp;</div>
</div>
<div id="progress-bar-message">Waiting for progress to start...</div>
<div id="celery-result"></div> -->

<script>
  $(function () {
    var progressUrl = "{% url 'celery_progress:task_status' 'task_id' %}"
    var progressUrl = progressUrl.replace("task_id", response.task_id)
    CeleryProgressBar.initProgressBar(progressUrl);
  });

  function customResult(resultElement, result) {
    $(resultElement).append(
      $('<p>').text('Sum of all seconds is ' + result)
    );
  }

  $(function () {
    CeleryProgressBar.initProgressBar(progressUrl, {
      onResult: customResult,
    })
  });
</script>


{% endblock main %}

<!-- ------------------------------------------------------------------------- -->
<!-- ------------------------------------------------------------------------- -->
<!-- ------------------------------------------------------------------------- -->


{% block footer %}

{% endblock footer %}