{% extends "base.html" %}

{% block head %}

{% endblock head %}

<!-- ------------------------------------------------------------------------- -->

{% block pagetitle %} Plots {% endblock pagetitle %}

<!-- ------------------------------------------------------------------------- -->
<!-- ------------------------------------------------------------------------- -->
<!-- ------------------------------------------------------------------------- -->

{% block main %}


    {% for image in img_paths %}
    <img src="{{ image }}" class="col-lg-8 img-responsive rounded float-left" />
    {% endfor %}

{% endblock main %}

<!-- ------------------------------------------------------------------------- -->
<!-- ------------------------------------------------------------------------- -->
<!-- ------------------------------------------------------------------------- -->


{% block footer %}

{% endblock footer %}